<section class="card">
    <a href="/blogpost/{{id}}" class="link-underline-light">
       <div class="d-flex card-header">
            <header>{{title}}</header>
            <p>Posted by {{user.name}}</p>
        </div>
        <p>{{body_content}}</p>
        <p>{{date_created}}</p>
    </a>
</section>